.header {
    margin-block-end: 2vw;
}
.logo__cite {
    margin-block-end: 2vw;
}
.nav__links {
    list-style-type: none;
}
.nav__links_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 4vw, 1rem); 
    line-height: 120%;
    white-space: nowrap;
    color: #241c15;
}
.green {
    color: $white;;
    background-color: $green-color;
    outline-color: $green-color;
    a {
        background-color: $green-color;
        color: $white;
    }
}

.header__btns_link {
    // position: absolute;
    // width: 42px;
    // height: 19.23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: calk(14px, 4vw, 1rem);
    white-space: nowrap;
    text-align: center;
    color: #241c15;
    text-decoration: none;
    background: #fff;
}
